/*
 * last modified 2018-08-12
 * Dorai Sitaram
 */

/* ereader-friendly stylesheet for AsciiDoc */

body {
  text-align: left;
}

#footer {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

#footer-text {
  font-size: 80%;
  text-align: right;
  font-style: italic;
}

.epre {
  white-space: pre;
}

.literalblock .epre {
  font-family: monospace;
}


/* doesn't work
.verseblock pre {
  font-family: inherit;
}
*/

table {
  border-collapse: collapse;
}

table.tableblock,th.tableblock,td.tableblock {
  border: 1px solid #dedede;
}

th,td {
  padding: 10px;
}

th.halign-left,td.halign-left {
  text-align: left;
}

th.halign-right,td.halign-right {
  text-align: right;
}

th.halign-center,td.halign-center {
  text-align: center;
}

@media amzn-kf8 {
  th.valign-top,td.valign-top {
    text-align: top;
  }

  th.valign-bottom,td.valign-bottom {
    text-align: bottom;
  }

  th.valign-middle,td.valign-middle {
    text-align: middle;
  }
}

p.tableblock {
  margin: 0;
}

@media not amzn-kf8 {
  body {
    margin-left: 8%;
    margin-right: 8%;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
  }
}
