# last modified 2018-09-12
alias ..='cd ..'
alias .2='..;..'
alias .3='.2;..'
alias .4='.3;..'
alias .5='.4;..'
alias 1='fg %1'
alias 2='fg %2'
alias 3='fg %3'
alias 3restart='sudo shutdown -r now'
alias 3shutdown='sudo shutdown -h now'
alias :q=exit
alias adc=asciidoc
alias add-apt-repository=apt-add-repository
alias adoc=asciidoctor
alias adocss='TEMP() { s=$1; shift; asciidoctor -a stylesheet=~/src/asciidoctor-stylesheet-factory/stylesheets/$s.css "$@"; }; TEMP'
alias aepub='asciidoctor-epub3 -D ~/kindlelib'
alias aman='asciidoctor -b manpage'
alias apdf='asciidoctor-pdf -a pdf-stylesdir=/home/ds26gte/asciidoctor-pdf-resources/themes -a pdf-fontsdir=/home/ds26gte/asciidoctor-pdf-resources/fonts -a pdf-style=adoc'
alias apdftr='asciidoctor-pdf -a pdf-style=/home/ds26gte/times.yml'
alias apt-add-repository='sudo apt-add-repository'
alias aslide='asciidoc -b slidy -a linkcss -a stylesheet=myslidy.css'
alias bdir='cd;cd .local/share/nvim/backup'
alias bin='cd;cd bin'
alias boo='htm;cd bootstrap'
alias c=clear
alias cd..='cd ..'
alias cdarrb='pyl;cd src/arr/base'
alias cdarrc='pyl;cd src/arr/compiler'
alias cdarrt='pyl;cd src/arr/trove'
alias cdjsb='pyl;cd src/js/base'
alias cdjst='pylsrc;cd js/trove'
alias cdtests='pyl;cd tests/pyret/tests'
alias cgitpush='git commit -a -m...;gitpush'
alias cp='cp -p'
alias cpo-ensure-env='cpo;test -e .env || cp -p ~/Dropbox/env.cpo.google .env'
alias cpo='htm;cd code.pyret.org'
alias cpos='cpo;cd src'
alias cpyro='cheapspy code.pyret.org'
alias cr=google-chrome
alias cur='htm;cd current'
alias curr='src;cd curr'
alias cx='chmod +x'
alias di=diff
alias did='vi -c \$ -c let\ b:dontAddTimestamp=1 -c s/\$/\\r/ -c r!date -c s/\$/\\r\\r/ -c startinsert ~/did.adoc'
alias diff=colordiff
alias dnld='cd;cd downloads'
alias do-release-upgrade='sudo do-release-upgrade'
alias dotf='src;cd dotfiles'
alias dvimf='src;cd dotfiles/nvim/plugin'
alias dvltests='cd;~/dvl/tests'
alias ei=/usr/bin/vi
alias finished='mpg123 ~/public_html/alice-parker/Sorrow\ and\ Gladness.mp3'
alias fstart='cpo-ensure-env;foreman start'
alias fy='xclip -selection clipboard -i'
alias fys='(spycolt;fy check.arr)'
alias gcd='find . -name dump.rdb -delete'
alias gdi='git diff'
alias getpyl='git clone https://github.com/brownplt/pyret-lang'
alias getwescheme='htm;rm -fr wescheme2012;git clone https://github.com/bootstrapworld/wescheme2012;cd wescheme2012;git submodule init;git submodule update'
alias gex='gls --others'
alias gh='cd;cd src'
alias ghas='src;cd asciidoctor'
alias ghbin='dotf;cd bin'
alias ghvim='src;cd vim'
alias ghvimsrc='ghvim;cd src'
alias ginfo='\info --vi-keys'
alias gio='src;cd ds26gte.github.io'
alias gios='gio;cd patch'
alias gitb='git branch'
alias gitpush='git push origin $(git rev-parse --abbrev-ref HEAD)'
alias gl='cd;cd gl'
alias glg='git log'
alias gls='git ls-files'
alias gpul='git pull'
alias gsta='git status -uno'
alias gtt=gnome-tweak-tool
alias h=history
alias htm='cd;cd public_html'
alias htmp='htm;cd tmp'
alias htmpb='htm;cd tmpb'
alias htmpc='htm;cd tmpc'
alias htmpco='htmpc;cd code.pyret.org'
alias htmppyl='htmp;cd pyret-lang'
alias iv=vi
alias j=jobs
alias julia='julia --banner=no --color=no'
alias k='kill -9'
alias kadoc=adockindle
alias killshada='rm ~/.local/share/nvim/shada/*'
alias kpo='htm;cd kode.pyret.org'
alias l.='ls -d .*'
alias l='ls -l'
alias la='ls -Ad .*'
alias lo=lowriter
alias ls='ls -F'
alias ly=lynx
alias lynx='COLUMNS=80 lynx -editor=nvim -vikeys'
alias m=more
alias md=mkdir
alias merg='mergedir ../..;prun'
alias minc='(printf "%.2f\n" $(echo $(cat|wc -w)/$(wordsperminute)|bc -l)) <'
alias mkhcpo='htm;rm -fr code.pyret.org;git clone https://github.com/brownplt/code.pyret.org;cd code.pyret.org;git checkout horizon;cp ~/Dropbox/env.cpo .env;git submodule init;git submodule update;foreman run npm install;foreman start'
alias mkmcpo='htm;cd ds26gte;rm -fr code.pyret.org;git clone https://github.com/ds26gte/code.pyret.org;cd code.pyret.org;cp .env.example .env;git submodule init;git submodule update;foreman run npm install;foreman start'
alias mkpcpo='htm;cd ds26gte;rm -fr code.pyret.org;git clone https://github.com/ds26gte/code.pyret.org;cd code.pyret.org;git checkout horizon;cp .env.example .env;git submodule init;git submodule update;foreman run npm install;foreman start'
alias mkscpo='htm;cd ds26gte/code.pyret.org;cp .env.example .env;git submodule init;git submodule update;foreman run npm install;foreman start'
alias mo=more
alias moby='asciidoctor-epub3 -D ~/kindlelib -a ebook-format=kf8'
alias more=less
alias mp3='mplayer -loop 0 -playlist playlist'
alias nall='src;cd nallenne'
alias nuhi='cpo;heroku local:run npm start'
alias oldpymake='pyl;npm install;make;make test;finished'
alias opymake='pyl;make test-clean;rm -fr node_modules;make clean;make install;make;make all-pyret-test;finished'
alias osubgrade='ubgrade;sudo update-manager -d'
alias p='cd ..'
alias paspyro='dialset patch;spyro'
alias pbcopy='xclip -i -selection clipboard'
alias pbpaste='xclip -o -selection clipboard'
alias ping='ping -c 5'
alias pkgls='dpkg-query -L'
alias pp='p;p'
alias ppp='pp;p'
alias pppp='pp;pp'
alias prun='prunedir ../..'
alias pw=pwd
alias py='node $PYRETHOME/build/phase1/main-wrapper.js'
alias pyboot='(pyl;make new-bootstrap)'
alias pycr='cr $PYRETHOME/src/web/repl.html'
alias pyhttp='pyl;python -m SimpleHTTPServer'
alias pyimake='(pyl;make install;make)'
alias pyl='cd $PYRETHOME'
alias pylclean='pyl;make clean;make test-clean;rmr node_modules'
alias pylsrc='pyl;cd src'
alias pym='pyl;make;finished'
alias pymOLD='(pyl;make);finished'
alias pymake='pyl;npm install;make;make test;finished'
alias pymakeOLD='pyl;make clean;rmr node_modules;make;make test;finished'
alias pymakeall='pyl;rm -fr node_modules;make clean;make phaseA;make install;make;make new-bootstrap;make all-pyret-test;finished'
alias pymaketest='pyl;make clean;make;make test;finished'
alias pymaketestold='pyl;rm -fr node_modules;make clean;make install;make;make test;finished'
alias pymkdoc='(pyl;make docs)'
alias pymok='pyl;make;make all-pyret-test;finished'
alias pyok='pyl;make all-pyret-test;finished'
alias pyph0='pyl;cd build/phase0'
alias pyqmake='pyl;pylclean;rmr node_modules;make clean;make install;make;finished'
alias pyro2='pym;spyro2'
alias pyro='pyl;make;spyro'
alias pys='pyl;cd docs/written/builtin'
alias pysmake='(pys;p;make)'
alias pytestnum='(cdtests;py test-numbers.arr;py test-roughnum.arr;py test-complex.arr;py test-within.arr;py test-adaptive-simpson.arr)'
alias pythttp='python -m SimpleHTTPServer'
alias pyw='htm;cd pyret-lang.wiki'
alias qpo='htm;cd qode.pyret.org'
alias qpy='spykill;htm;python -m SimpleHTTPServer 8000'
alias realias='. ~/.aliases'
alias rediskill='kill -9 $(rediswatch|sed -e '\''s/^\S\+\s\+\(\S\+\).*/\1/'\'')'
alias redistart2='~/src/redis-3*/src/redis-server'
alias redistart='~/src/redis-3*/src/redis-server &'
alias rediswatch='ps -ef|grep -i "redis-serve[r]"'
alias remakepatch='cpo;~/bin/cpo-heroku patch-editor;heroku addons:create rediscloud;finished'
alias remakepatkh='kpo;~/bin/kpo-heroku patch-editor;heroku addons:create rediscloud;finished'
alias remakepatkhNEW='kpo;~/bin/kpo-heroku patch-editor-2;heroku addons:create rediscloud;finished'
alias remakepatqh='qpo;~/bin/qpo-heroku pyret-editor;heroku addons:create rediscloud;finished'
alias repymake='pyl;pylclean;npm install;make;make test;finished'
alias respyro='pyl;make;spyro'
alias rmr='rm -fr'
alias sadoc=adocslidy
alias script=skript
alias seagate='cd /media/ds26gte/S*'
alias shadadir='cd ~/.local/share/nvim/shada'
alias skyro='newspy kode.pyret.org'
alias sl=ls
alias spion='(pyhttp &);startcpo'
alias spycmb='spyjs;cd codemirror-blocks-dist'
alias spycol='cpo;cd src/web/collections'
alias spycolt='spycol;cd test'
alias spycss='cpo;cd src/web/css'
alias spydash='spyjs;cd dashboard'
alias spygoo='spyjs;cd google-apis'
alias spyjs='cpo;cd src/web/js'
alias spyjst='spyjs;cd trove'
alias spykill='kill -9 $(spywatch|sed -e '\''s/^\S\+\s\+\(\S\+\).*/\1/'\'')'
alias spyro1='(spykill; pyhttp & sleep 2; startcpo)'
alias spyro2='(spykill; redistart2 & sleep 2; pyhttp & sleep 2; startcpo)'
alias spyro3=newspy3
alias spyro='newspy code.pyret.org'
alias spywatch='ps -ef|grep -i "\(python\|foreman:\|node\|redis-server\) "'
alias spyweb='cpo;cd src/web'
alias sqyro='newspy qode.pyret.org'
alias src='cd;cd src'
alias startcpo='cpo-ensure-env;rm -fr build node_modules;git submodule init;git submodule update;foreman run npm install;foreman start'
alias swapdir='cd;cd .local/share/nvim/swap'
alias testrn='py $PYRETHOME/tests/pyret/tests/test-roughnum.arr'
alias tmp='cd;cd tmp'
alias tmspeech='src;cd tmspeech'
alias ubgrade='sudo apt update;sudo apt upgrade;sudo apt dist-upgrade'
alias ui=vim.tiny
alias v=view
alias vd='vi -Rd'
alias vialias='vi ~/.aliases;realias'
alias vid='vi -d'
alias view='view -c "setl lbr sbr= nowrite"'
alias vima='vimd;cd after'
alias vimap='vima;cd plugin'
alias vimd='src;cd dotfiles/nvim'
alias vimdiff='vi -d'
alias vimf='vimd;cd ftplugin'
alias vimp='vimd;cd plugin'
alias vimpa='vimd;cd pack/3rdpartyplugins/start'
alias vimrt='cd /usr/share/nvim/runtime'
alias vinfo='TEMP() { vi -c "Info $*"; unset -f TEMP; }; TEMP'
alias vip='ps -ef|grep " \(vi\|nvim\)"'
alias vipy='htm;vi +Py'
alias vispy='vi +Spy'
alias vispyro='vi -c "e /tmp/junk|%d|call termopen(\"spyro\")"'
alias vite='vi +te'
alias vte='vi +te'
alias vu=evince
alias wes='htm;cd wescheme2012'
alias wescomp='wes;cd war/js/compiler'
alias wesed='htm;cd wescheme2012/war-src/js/openEditor'
alias wesjsnum='wes;cd war-src/js/js-runtime'
alias wesjsw='wes;cd war-src/js/js-runtime/world'
alias wesmake='wes;build-console-and-editor.rkt;ant runserver'
alias wesmz='wes;cd war/js/mzscheme-vm'
alias wessrccomp='wes;cd war-src/js/compiler'
alias wget='wget -c'
alias whichpkg='dpkg -S'
alias whp=~/src/wkhtmltox/bin/wkhtmltopdf
alias wordsperminute='echo 124' # 140?
alias yfg=yank4gmail
source ~/.aliases.more
