#alias ly=lynx
#alias lynx='COLUMNS=80 lynx -display_charset=utf-8 -editor=vim -vikeys'
alias ..='cd ..'
alias .2='..;..'
alias .3='.2;..'
alias .4='.3;..'
alias .5='.4;..'
alias 1='fg %1'
alias 2='fg %2'
alias 3='fg %3'
alias 3restart='sudo shutdown -r now'
alias 3shutdown='sudo shutdown -h now'
alias apt-get='sudo apt-get'
alias c=clear
alias cd..='cd ..'
alias cp='cp -p'
alias cr=google-chrome
alias cx='chmod +x'
alias diff=colordiff
alias ei=/usr/bin/vi
alias excel=localc
alias ff=firefox
alias gc='rm *~ .*~'
alias gitpu='git pull'
alias h=history
alias info='info --vi-keys'
alias iv=vi
alias j=jobs
alias k='kill -9'
alias l.='ls -d .*'
alias l='ls -l'
alias la='ls -Ad .*'
alias lo=libreoffice
alias ls='ls --color=auto -F'
alias ly=lynx
alias lynx='COLUMNS=80 lynx -editor=vim -vikeys'
alias m=less
alias man='MANWIDTH=80 man --nh --nj'
alias md=mkdir
alias mo=less
alias more=less
alias osubgrade='ubgrade;sudo update-manager -d'
alias p='cd ..'
alias ping='ping -c 5'
alias pp='p;p'
alias ppp='pp;p'
alias pppp='pp;pp'
alias prun='prunedir ../..'
alias pw=pwd
alias realias='. ~/.aliases'
alias rmr='rm -fr'
alias sl=ls
alias t=txt2page
alias tmac='cd /usr/local/share/groff/current/tmac'
alias ubgrade='sudo apt-get update;sudo apt-get upgrade;sudo apt-get dist-upgrade'
alias ui=/usr/bin/vi
alias uvi=/usr/bin/vi
alias vip='ps -ef|grep " vi"|grep -v grep'
alias vu=evince
alias wget='wget -c'
alias word=lowriter
if test -f ~/.aliases.more; then . ~/.aliases.more; fi
