# last modified 2019-11-10
#Dorai Sitaram
alias ..='cd ..'
alias 1='fg %1'
alias 2='fg %2'
alias 3='fg %3'
alias 3restart='sudo shutdown -r now'
alias 3shutdown='sudo shutdown -h now'
alias :q=exit
alias adc=asciidoc
alias add-apt-repository=apt-add-repository
alias adoc-preproc='PATHWAYROOTDIR=../../../ ~/src/curriculum/shared/langs/en-us/adoc-preproc.rkt'
alias adoc=asciidoctor
alias adocss='TEMP() { s=$1; shift; asciidoctor -a stylesheet=~/src/asciidoctor-stylesheet-factory/stylesheets/$s.css "$@"; }; TEMP'
alias aman='asciidoctor -b manpage'
alias apdf='asciidoctor-pdf -a pdf-fontsdir=/home/ds26gte/.fonts\;/usr/share/fonts/truetype/msttcorefonts\;GEM_FONTS_DIR -a pdf-themesdir=~'
alias apdft='apdf -a pdf-theme=adoc'
alias apt-add-repository='sudo apt-add-repository'
alias aslide='asciidoc -b slidy -a linkcss -a stylesheet=myslidy.css'
alias aspellc='TEMP() { cat "$@" | aspell -a | grep "^&" | sed -e "s:^&\s*\(\S\+\).*:\1:" | sort -u; unset -f TEMP; }; TEMP'
alias b='src;cd bee; cd 2019'
alias batty1='upower -i /org/freedesktop/UPower/devices/battery_BAT0'
alias batty2='upower -i /org/freedesktop/UPower/devices/battery_BAT1'
alias bb=brave-browser
alias bdir='cd;cd .local/share/nvim/backup'
alias bin='cd;cd bin'
alias bpw='remix;build-pathway'
alias bpwdebug='(bpw pathways/pathwayP --nopdf --debug)'
alias bpwgame='(bpw pathways/bs-game-pathway --proglang pyret --nopdf --debug)'
alias bpwpdebug='(bpw pathways/pathwayP --proglang pyret --nopdf --debug)'
alias bugrec='curricl;cd BuggyRecipes/langs/en-us/exercises'
alias c=clear
alias cd..='cd ..'
alias cdbg='bpw pathways/pathwayP'
alias cdjsb='pyl;cd src/js/base'
alias cdme='cd $PWD'
alias cdtests='pyl;cd tests/pyret/tests'
alias cgame='bpw pathways/bs-game-pathway'
alias clscript='rm typescript*;script'
alias cp='cp -p'
alias cpo='htm;cd code.pyret.org'
alias cr=google-chrome
alias cudo='remix;bpw'
alias curric='src;cd curriculum'
alias curricd='remix;cd distribution'
alias curricl='remix;cd lessons'
alias curriclib='remix;cd lib'
alias curricp='remix;cd pathways'
alias curricshare='curric;cd shared/langs/en-us'
alias currperm='gpfs;find distribution -type d|xargs chmod g+r,o+rx;cd distribution;find . -type f|xargs chmod g+r,o+r'
alias currtr='curricp;cd bs-game-pathway/langs/en-us/resources'
alias cx='chmod +x'
alias dateindia='TZ=Asia/Calcutta date'
alias datepacific='TZ=US/Pacific date'
alias dbugrec='curricl; cd buggy-recipes-wescheme/en-us/lessons/BuggyRecipes/exercises'
alias di=diff
alias did='vi -c \$ -c s/\$/\\r/ -c r!date -c s/\$/\\r\\r/ -c startinsert ~/did.adoc'
alias dif=diff
alias diff=colordiff
alias dnld='cd;cd downloads'
alias do-release-upgrade='sudo do-release-upgrade'
alias dotf='src;cd dotfiles'
alias dsupplex='curricd; cd bs-game-pathway-pyret/en-us/lessons/Supplemental/exercises'
alias dvimf='src;cd dotfiles/nvim/plugin'
alias enchantc='TEMP() { cat "$@" | enchant -a | grep "^&" | sed -e "s:^&\s*\(\S\+\).*:\1:" | sort -u; unset -f TEMP; }; TEMP'
alias ff=firefox
alias finished='mpg123 ~/public_html/alice-parker/Sorrow\ and\ Gladness.mp3'
alias fmt=par
alias fstart='cpo-ensure-env;foreman start'
alias ftrim='sed -e "s/\s\+\$//" -e "/./,/^\$/!d"'
alias fy='xclip -selection clipboard -i'
alias gblame='TEMP() { local w=3; git blame "$1" | sed -e "s/^[^(]*(\(.\{$w\}\)[^)]*[0-9]\(\s\+[0-9]\+\)/\1\2/"; unset -f TEMP; }; TEMP'
alias gcd='find . -name dump.rdb -delete'
alias gdocadoc='TEMP() { f=$1; pandoc $f -o ${f%%.html}.adoc; }; TEMP'
alias gex='git ls-files -o'
alias gh='cd;cd src'
alias ghbin='dotf;cd bin'
alias ghclone='TEMP() { git clone https://github.com/$1; unset -f TEMP; }; TEMP'
alias ghdummy='gh;cd dummy'
alias ghnvim='src;cd neovim'
alias ghtmp='gh;cd tmp'
alias ghvim='src;cd vim'
alias gio='src;cd ds26gte.github.io'
alias gios='gio;cd patch'
alias gitb='git branch'
alias gl='cd;cd gl'
alias glg='git log'
alias gls='git ls-files'
alias gpfs='cd /gpfs/main/authen/sys/web/cs/web/sites/bootstrapworld.org/materials/spring2020/courses'
alias gpul='git pull'
alias gr='TEMP() { f=${1%.*}.ps; groff -U -ms2 $1 > $f; unset -f TEMP; }; TEMP'
alias grebi='git rebase -i'
alias grf='groff -U'
alias grvu='TEMP() { gr $1; vu ${1%.*}.ps; unset -f TEMP; }; TMEP'
alias gsta='git status -uno'
alias gtmac='cd;cd groffinputs/tmac'
alias gtt=gnome-tweak-tool
alias h=history
alias htm='cd;cd public_html'
alias htmp='htm;cd tmp'
alias htmpb='htm;cd tmpb'
alias htmpc='htm;cd tmpc'
alias ipsum='TEMP() { lorem -p ${1:-1} | fmt -w 65; unset -f TEMP; }; TEMP'
alias iv=vi
alias j=jobs
alias k1='k %1'
alias k2='k %2'
alias k3='k %3'
alias k='kill -9'
alias kadoc=adockindle
alias killshada='rm ~/.local/share/nvim/shada/*'
alias l.='ls -d .*'
alias l='ls -l'
alias la='ls -Ad .*'
alias lessona='remixd;cd pathwayP/langs/en-us/lessons/lessona/exercises'
alias ll.='ls -dl .*'
alias ls='ls -F'
alias lsna='curricd;cd pathwayP/en-us/lessons/lessonA'
alias lsnae='lsna;cd exercises'
alias ly=lynx
alias lynx='COLUMNS=80 lynx -editor=nvim -vikeys'
alias m=less
alias madoc=kramdoc
alias md=mkdir
alias merg='mergedir ../..;prun'
alias minc='(printf "%.2f\n" $(echo $(cat | wc -w)/$(wordsperminute) | bc -l)) <'
alias mo=more
alias mpca='groff -U -mpca'
alias ms2='groff -U -ms2'
alias nnn='nnn -H'
alias nsvi='src;cd neoscmindent'
alias nsvil='nsvi;cd lua'
alias ocurr='src;cd curr'
alias ocurre='ocurr;cd distribution/courses/algebra/en-us/units/unit1/exercises/Order-of-Operations'
alias ocurrlib='ocurr; cd lib'
alias open=xdg-open
alias osubgrade='ubgrade;sudo update-manager -d'
alias p='cd ..'
alias passecho='echo "                                             "'
alias pca='gh;cd mpca'
alias pcld='cd;cd pCloudDrive'
alias pcloud='pcloud >/dev/null 2>&1 &'
alias pkgls='dpkg-query -L'
alias pp='p;p'
alias ppp='pp;p'
alias pppp='pp;pp'
alias prun='prunedir ../..'
alias pw=pwd
alias pyl='cd $PYRETHOME'
alias realias='. ~/src/dotfiles/.aliases'
alias refer='refer -p ~/bibliography.ref -P -S -e -l3,2 -sA'
alias remix=curric
alias remixd=curricd
alias remixdemo='src;cd remix-demo'
alias remixdis='remix;cd distribution'
alias remixdoc='remix;cd distribution/lessons/algebra/langs/en-us'
alias remixl='remix;cd lessons'
alias remixlesson='remix;cd lessons/algebra/langs/en-us'
alias remixlib=curriclib
alias remixp=curricp
alias remixshare=curricshare
alias rmr='rm -fr'
alias saadoc='asciidoctor -a data-uri'
alias sadoc=adocslidy
alias sbib='sortreferbib ~/bibliography.ref'
alias schelog='src;cd schelog'
alias scmvi='src;cd scmindent'
alias script=skript
alias seagate='cd /media/ds26gte/S*'
alias sendtogmail='TEMP() { echo att | mutt -s att -a $1 -- $(gmailaddress); }; TEMP'
alias shadadir='cd ~/.local/share/nvim/shada'
alias sl=ls
alias spyjs='cpo;cd src/web/js'
alias spyweb='cpo;cd src/web'
alias src='cd;cd src'
alias startcpo='cpo-ensure-env;rm -fr build node_modules;git submodule init;git submodule update;foreman run npm install;foreman start'
alias supplex='curricl; cd Supplemental/langs/en-us/exercises'
alias swapdir='cd;cd .local/share/nvim/swap'
alias tmp='cd;cd tmp'
alias tmspeech='src;cd tmspeech'
alias trf='cd;cd groffinputs/font/devps'
alias ty='gh;cd tyscheme'
alias ubgrade='sudo apt update;sudo apt upgrade;sudo apt dist-upgrade'
alias ui=vim.tiny
alias v=view
alias vd='vi -Rd'
alias vdiff=vimdiff
alias vi=nvim
alias vialias='vi ~/src/dotfiles/.aliases;realias'
alias vid='vi -d'
alias view='view -c "setl lbr sbr= nowrite"'
alias viht='vi -es -c "helpt ."'
alias vilu='vimd;cd lua'
alias vima='vimd;cd after'
alias vimap='vima;cd plugin'
alias vimd='src;cd dotfiles/nvim'
alias vimdiff='vi -d'
alias vimf='vimd;cd ftplugin'
alias vimht=viht
alias vimp='vimd;cd plugin'
alias vimpa='vimd;cd pack/3rdpartyplugins/start'
alias vimrt='cd /usr/share/nvim/runtime'
alias vinfo='TEMP() { vi -c "Info $*"; unset -f TEMP; }; TEMP'
alias vinit='vi ~/.config/nvim/init.vim'
alias vip='ps -ef | grep " \(vi\|nvim\)"'
alias vite='vi +Bash'
alias vnote='TEMP() { pushd ~/pCloudDrive/notes; vi $1; popd; }; TEMP'
alias vte=vte
alias vu='TEMP() { f=$1; if test x${1##*.} = xps; then f=${1%.ps}.pdf; ps2pdf $1 $f; fi; evince $f; unset -f TEMP; }; TEMP'
alias wget='wget -c'
alias whichpkg='dpkg -S'
alias whp=~/src/wkhtmltox/bin/wkhtmltopdf
alias wordsperminute='echo 124' # 140?
alias yfg=yank4gmail
alias yubgrade='sudo apt update;sudo apt -y upgrade;sudo apt dist-upgrade'
source ~/.linuxaliases 2>/dev/null
