**/{indent,syntax}/pyret.vim
*.html
*.sav
*.vim.*
*Z*
.netrwhist*
bin/[^abdegilmoprstuvwxy]*
bin/a[^d]*
bin/d[^a]*
bin/e[^r]*
bin/g[^bi]*
bin/i[^c]*
bin/l[^ily]*
bin/m[^ae]*
bin/o[^fpt]*
bin/p[^br]*
bin/s[^ejko]*
bin/t[^aert]*
bin/ta[^r]*
bin/tex[^d]*
bin/u[^pt]*
bin/v[^iu]*
bin/w[^3eo]*
dump.rdb
nvim/pack
vimgists/
