**/{indent,syntax}/pyret.vim
*.sav
*.vim.*
*Z*
.netrwhist*
bin/[^abdegilmoprstuvwxyæ]*
bin/a[^d]*
bin/d[^a]*
bin/e[^r]*
bin/g[^bi]*
bin/i[^c]*
bin/l[^ily]*
bin/m[^aep]*
bin/o[^fpt]*
bin/p[^br]*
bin/s[^cejko]*
bin/t[^aeirt]*
bin/ta[^r]*
bin/tex[^d]*
bin/u[^pt]*
bin/v[^iu]*
bin/w[^3eo]*
dump.rdb
nvim/pack
vimgists/
