**/{indent,syntax}/pyret.vim
*.html
*.sav
*.vim.*
*Z*
*lisp*
.netrwhist*
bin/[^abdegilmopstuvwxy]*
bin/a[^d]*
bin/d[^a]*
bin/e[^r]*
bin/g[^i]*
bin/i[^c]*
bin/l[^ily]*
bin/m[^ae]*
bin/o[^fp]*
bin/p[^br]*
bin/s[^ejk]*
bin/t[^aer]*
bin/ta[^r]*
bin/tex[^d]*
bin/u[^t]*
bin/v[^iu]*
bin/w[^eo]*
dump.rdb
nvim/pack
vimgists/
