/* created < 2017-11-14 */
/* last modified 2023-02-01 */

#header h1 {
  margin-top: 6em;
}

#header {
  text-align: center;
}

#header #author,#revdate {
  margin-left: -4em;
}

h1,h2,h3 {
  border-bottom: none;
}

div.sect1 h1 {
  margin-top: 2em;
  text-align: center;
}

div.sectionbody {
  margin-left: 5em;
}
