/* created: 2022-07-03 */
/* last modified: 2022-07-24 */
/* pandoc option: -c panepub.css */

body {
 text-align: left;
}

p {
 text-indent: 1.5em;
}

h1 + p {
 text-indent: 0em;
}

h2 + p {
 text-indent: 0em;
}

hr {
 border: none;
 margin-top: 5em;
}

hr + p {
 text-indent: 8em;
}
