/* created: 2022-08-05 */
/* last modified: 2022-08-05 */
/* pandoc option: -c panhtml.css */

body {
  background: #fff;
  color: rgba(0,0,0,.8);
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Noto Serif", "DejaVu Serif", serif;
}

