/*
created < 2018-08-07
last modified 2023-02-02
Dorai Sitaram
 */

body {
  /* font-family: Georgia, serif; */
  font-family: "Gill Sans MT", "Gill Sans", GillSans, sans-serif;
}

h1, h2, div.title, #author, #revdate {
  /*   border-style: none; */
  /*   font-family: Georgia, Arial, Helvetica, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}

#author {
  color: #527bbd;
  font-weight: bold;
  font-size: 1.1em;
}

p {
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  color: #527bbd;
  /*   color: #9b3d3d; */
}

em {
  color: navy;
}

div.tableblock > table {
  border: 3px solid #527bbd;
}

table.tableblock {
  border: 3px solid #527bbd;
  border-spacing: 0;
  border-collapse: collapse;
}

thead {
  color: #527bbd;
}

th.tableblock,td.tableblock {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #527bbd;
}

pre {
  border-left-width: 0;
  color: black;
  border-style: none;
  font-size: 100%;
  font-weight: normal;
  background-color: white;
  /* color: inherit; */
  /* background-color: inherit; */
}

.verseblock pre {
  font-family: inherit;
  line-height: 1.5;
}

div.admonitionblock {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

div.admonitionblock td.content {
  padding-left: 0.5em;
  border-left: 3px solid #dddddd;
}

div.sidebarblock > div.content {
  background: #ffffee;
  border: 1px solid #dddddd;
  border-left: 4px solid #f0f0f0;
  padding: 0.5em;
}

.details {
  color: #527bbd;
}

#header {
  font-size: 120%;
}

div.title, caption.title {
  color: #527bbd;
  font-weight: bold;
  /* text-align: left; */
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}

/*
div.title + * {
  margin-top: 0;
}
*/

#header h1 {
  margin-top: 6em;
  /* margin-left: 10em; */
}

#header {
  text-align: center;
}

/* #header h1,.details { */
/*   text-align: center; */
/* } */

.attribution {
  text-align: right;
}

#header #author,#revdate {
  margin-left: -3em;
}

/*
h1,h2,h3 {
  border-bottom: none;
   color: #9b3d3d;
}
*/

div.sect1 h1 {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 250%;
}

div.sect1 h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 200%;
}

div.sectionbody {
  margin-left: 5em;
  /* font-size: 160%; */
  margin-right: 5em;
}

div.listingblock  pre {
  font-family:  Consolas, "Andale Mono", "Courier New", monospace;
  color: navy;
  line-height: 1.4em;
}

/*
pre {
  color: inherit;
  background-color: inherit;
}

div.slide {
  border: none;
}

p, pre {
  margin-left: inherit;
  margin-right: inherit;
}
*/

ul li {
  margin-left: 1em;
}

li > p {
  margin-left: 0.3em;
}
