/*
 * last modified 2021-03-10
 * created 2018-08-08
 * Dorai Sitaram
 */

/* WeasyPrint-friendly stylesheet for AsciiDoc */

body {
  font-family: 'tex gyre termes', serif;
  text-align: justify;
  line-height: 1.3;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'gillius adf';
}

#footer {
  display: none;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

#footer-text {
  font-size: 80%;
  text-align: right;
  font-style: italic;
}

.verseblock pre {
  font-family: 'tex gyre termes', serif;
}

table {
  border-collapse: collapse;
}

table.tableblock,th.tableblock,td.tableblock {
  border: 1px solid #dedede;
}

th,td {
  padding: 10px;
}

th.halign-left,td.halign-left {
  text-align: left;
}

th.halign-right,td.halign-right {
  text-align: right;
}

th.halign-center,td.halign-center {
  text-align: center;
}

p {
  text-indent: 2em;
}

div.paragraph:first-child > p {
  text-indent: 0;
}

td p {
  text-indent: 0;
}

.title {
  margin-top: .75em;
}

.title + p {
  text-indent: 0;
}

p {
   margin-top: 0;
   padding-top: 0;
   margin-bottom: 0;
   padding-bottom: 0;
}

table.tableblock {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

@page {
  margin: 1in 1.25in;

  @bottom-center {
    padding-top: 1.5ex;
    vertical-align: top;
    font-family: 'tex gyre termes', serif;
    font-size: 90%;
    content: counter(page);
  }
}
